<%- include("header") -%>

<div class="split left">
  	<div class="centered">

    <form action="/" method="post">
	<label for="CityInput">How's the weather in? </label><br>
	<input id="CityInput" type="text" autocomplete="off" name="CityName"><br>
	<button type="submit">Check</button>
	</form>

  </div>


</div>






	
